.map {
    box-shadow: rgba(255, 255, 255, 0.102) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.044) 0px -3px 5px;
}

@media screen and (max-width:767px) {
    .cont_sec h1 {
        width: 75% !important;
        /* background-color: orange; */
        font-size: 35px !important;
    }

    .cont_sec p {
        font-size: 12px !important;
        width: 75% !important;
    }
}